# Maven target directory
/target/

# IntelliJ IDEA specific files
/.idea/
/*.iml
*.iws
/out/

# Logs
/logs
*.log

# Dependency directories
/.mvn/
**/node_modules/
/npm-debug.log
/yarn-debug.log
/yarn-error.log

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
/bin/
/build/
/dist/

# Maven specific files
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
